@tailwind base;
@tailwind components;
@tailwind utilities;

.periodic-table {
  display: grid;
  grid-template-columns: repeat(18, 56px);
  grid-template-rows: repeat(10, 56px);
  grid-gap: 4px;
  width: 1080px;
  margin: 0 auto;
  position: relative;
  user-select: none;
}

.element {
  background: white;
  border: 1px solid #aaa;
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
}

.element:hover {
  transform: scale(1.25, 1.25);
  z-index: 1;
}

.element .number {
  font-size: 8px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.element .name {
  font-size: 8px;
  position: absolute;
  bottom: 5px;
  display: flex;
  justify-content: center;
}

.element-info-card {
  @apply flex flex-col md:flex-row gap-1 md:gap-8 mt-4 items-start;
}

.element-card {
  @apply w-20 h-20 md:w-32 md:h-32 p-2 border rounded-md flex flex-col gap-0 md:gap-3 justify-center items-center;
}

.btn-link {
  @apply underline text-blue-500 text-xl;
}

.element-properties {
  @apply col-span-full md:col-span-4 rounded-lg shadow-md p-4;
}

.element-summary {
  @apply col-span-full md:col-span-8 rounded-lg shadow-md p-4;
}
